body {
    background: rgb(255, 255, 255);
}


#milk {font-size: 2.5rem;

    color: rgb(71, 55, 192);
    font-family: 'Times New Roman', Times, serif;


}
#milk2 {font-size:2.0rem;
color:rgb(5,79,98);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
